<!-- error/success messages -->
<div class="row justify-content-center pt-4">
  <div class="col-sm-10 col-md-8 col-lg-6">
    <div *ngIf="errorMessage">
      <div class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>
    </div>

    <div *ngIf="successMessage">
      <div class="alert alert-success" role="alert">
        {{ successMessage }}
      </div>
    </div>
  </div>
</div>
<!-- end error messages -->

<div class="text-center" *ngIf="isLoading">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<table class="table table-hover align-middle mb-0 bg-white" *ngIf="!isLoading">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Original Price</th>
      <th>Sale Price</th>
      <th>Quantity</th>
      <th>Category</th>
      <th>Weight</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody *ngFor="let product of products">
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
            src="{{ product.image }}"
            alt=""
            style="width: 45px; height: 45px"
            class="rounded-circle"
          />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{ product.name }}</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">{{ product.originalPrice | currency }}</p>
      </td>
      <td>{{ product.salePrice | currency }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.weight }}</td>
      <td>{{ product.description }}</td>
      <td>
        <button
          type="button"
          class="btn btn-link btn-sm btn-rounded"
          (click)="openModal()"
        >
          Edit
        </button>
        <button
          type="button"
          (click)="deleteProduct(product.id)"
          class="btn btn-link btn-sm btn-rounded"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
