<!-- Background image -->
<mdb-carousel [controls]="true" [indicators]="true">
  <mdb-carousel-item>
    <img
      src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Wildflower Honey</h1>
          <h4 class="mb-3">Iowa's Best Wildflower Honey</h4>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button"
            >Buy Now</a
          >
        </div>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Bees</h1>
          <h4 class="mb-3">Subheading</h4>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button"
            >Order Bees</a
          >
        </div>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Heading</h1>
          <h4 class="mb-3">Subheading</h4>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button"
            >Call to action</a
          >
        </div>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
<!-- Background image -->
<div class="container">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada
    sapien quis pharetra porta. Suspendisse potenti. Cras purus mauris, luctus
    ac elit ornare, tincidunt volutpat diam. In sit amet purus augue.
    Pellentesque mollis eros ut ex dictum pretium. Donec feugiat nulla in
    euismod tincidunt. Donec diam dolor, convallis at dui ut, egestas porta
    elit. Donec tincidunt ipsum ut ex aliquet vestibulum. Sed ultrices mauris
    eget est interdum, nec facilisis eros tristique. Vestibulum ante ipsum
    primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam
    egestas vitae tellus nec volutpat. Nulla volutpat diam sapien, laoreet
    ultricies est bibendum et. Vivamus ut justo id lectus luctus pharetra sed id
    urna.
  </p>
  <p>
    Sed mattis tortor libero, ac congue mauris consequat a. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis
    egestas. Cras vulputate elit efficitur enim tincidunt interdum. Sed id
    laoreet orci. Integer gravida non diam et condimentum. Aenean vitae metus
    sed ipsum pellentesque euismod. Pellentesque volutpat eget urna ac molestie.
  </p>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d80819.6406250105!2d-91.53319704725388!3d41.79163745567815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1711898830891!5m2!1sen!2sus"
    width="800"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
